@import "styles/mixin/theme";

$themes: (
    light: (
        account-summary-box-bg-color: var(--color-gray-2),
    ),
    dark: (
        account-summary-box-bg-color: var(--color-white),
    ),
);

.account-summary-box {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100%;

    padding: 0 15px;

    &-total {
        display: flex;
        flex-direction: column;

        justify-content: space-around;

        &-label {
            display: flex;
            color: gray;
            font-size: 14px;
        }

        &-value {
        }
    }

    &-pending {
        display: flex;
        flex-direction: column;

        justify-content: space-around;
        margin-top: 5px;

        &-label {
            display: flex;
            color: gray;
            font-size: 14px;
            align-items: baseline;

            &-value {
                // padding-right: 45px;
            }
        }
    }

    .ui-currency {
        span {
            font-weight: bold;

            .ui-currency-after-unit {
                font-size: 15px;
                margin: 5px 4px;
            }
        }
    }
}
