@import "styles/mixin/theme";

$themes: (
    light: (
        header-bg-color: var(--color-white),
    ),
    dark: (
        header-bg-color: var(--color-black),
    ),
);

.header {
    display: flex;
    justify-content: flex-end;
    height: 45px;
    color: #979797;
    > div {
        margin: 5px;
    }
}
